   .progress-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      text-align: center;
    }

    .progress-bar-bg {
      width: 100%;
      height: 4px;
      background-color: #333;
      border-radius: 2px;
      overflow: hidden;
    }

    .progress-bar {
      height: 100%;
      width: 0%;
      background-color: white;
      transition: width 2.5s ease;
    }

    .progress-text {
      margin-top: 10px;
      color: white;
      font-size: 14px;
    }

    .hidden {
      display: none;
    }
