.mySlides {
    display:none;
    width:30%;
    }

.slideshow-container {
  max-width: 500px;
  height: 100vh;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: rgb(96, 12, 230);*/
  /*max-height: 300px;*/
  position: relative;
  margin: auto;
}