
    .inputTime {
        border  			: 0;
        outline 			: 0;
        background-color	: inherit
    }


    .inputDate {
        border  			: 0;
        outline 			: 0;
        background-color	: inherit
    }

        /* Define different widths for each cell */
    .cell-1 {width: 8%;}
    .cell-2 {width: 10%;}
    .cell-3 {width: 7%;}
    .cell-4 {width: 10%;margin: 0;}
    .cell-5 {width: 23%;}
    .cell-6 {width: 14%;}
    .cell-7 {width: 8%;}
    .cell-8 {width: 4%;}
    .cell-9 {width: 5%;}
    .cell-10 {width: 4%;}
    .cell-11 {width: 7%;}
    .cell-12 {width: 4%;}
    .cell-13 {width: 5%;}
    .cell-14 {width: 24%}
    .cell-15 {width: 12%;}
    .cell-16 {width: 7%;}
    .cell-17 {width: 4%;}
    .cell-18 {width: 2%;}
    .cell-20 {width: 4%;}