#mainDiv {
    position			: fixed;	
    top					: 50%;
    left 				: 50%;
    transform			: translate(-50%,-50%);
}

body    { 
    background-color    : ivory; 
}

#canvas  {
    border  :1px solid red;
}
