  .grid-gallery  {
      grid-template-columns : repeat(5, 1fr);
      grid-template-rows    : repeat(4, 7vw);
      grid-template-areas   :
          "image1 image1 image1 image1 image1"
          "image1 image1 image1 image1 image1"
          "image1 image1 image1 image1 image1"
          "image1 image1 image1 image1 image1";
      grid-gap              : 10px;
      margin-left           : 20%;
      margin-right          : 20%;
      display               : none;
  }
  
  .imageGallery {
    grid-area         : image1;
    width             : 100%;
    height            : 100%;
    object-fit        : cover;
    border            : 2px solid white;
  }

  .imageGallery:hover img {
    border            : 2px solid black;
  }

  .mvButton {

    grid-area: mvButton;
    background-color  : #8ca0ff;
  }

/*
  .glry-image {
      grid-area: image1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }*/

  .imageCls {
    border            : 0px;
    max-width         : 100%;
    height            : 90%;
  }

  .img-border {
    border            : 2px solid black;
  }

  .containerGallery {
    width             : 60%;
    margin            : 1rem auto;
    visibility        : hidden;
    display           : grid;
  }
  
  .glry-checkbox {
    position          : absolute;
    bottom            : 0%;/* right: 0px; */
    left              : 17%;
  }

  
div.desc {
  padding             : 15px;
  text-align          : center;
}

.responsive {
  padding             : 0 6px;
  float               : left;
  width               : 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width             : 49.99999%;
    margin            : 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width             : 100%;
  }
}

.img_chkbox {
  position            : relative;
  right               : 0px;
  /*bottom              : 19px; */
}