
.systemTbl 	{
	color 	 		 	:   black;
	font-size   	 	:   13px;
	border-width		:   2px;
	border-color		:   black;
	border-radius  		:   15px;
	position			:   relative;
    width               :   100%;
    height              :   100%;
}

.systemTbl td {
    border              :   none; /*2px solid black*/
}

.systemTbl td:first-child {
	width               :   30%;
}

.systemTbl tr:last-child {
	height               :  10%;
}
