
* {
  box-sizing        : border-box;
  /* height: 20px; */
}

body {
  font-family       : "Poppins";
  background        : #f8f7f3;
  /* margin: 0; */
}

.loader {
  background-color  : #f8f7f3;
  position          : fixed;
  left              : 0;
  width             : 50%;
  height            : 100%;
  top               : 0;
  z-index           : 10;
  display           : flex;
  align-items       : center;
  /* margin            : 0 auto; */
  justify-items     : center;
  margin-left       : 25%;
}

.progress-bar {
    width             : 0;
    height            : 13px;
    background        : linear-gradient(40deg, rgb(237, 241, 46) 0%,
      rgb(251, 251, 4) 30%,
      #faba0a 60%,
      #faba0a 100%);
    transition        : 0.8s linear;
    display           : flex;
      transform         : translateY(0);
    justify-content   : center;
    align-items       : center;
    width             : 1%;
    margin-left       : 25%;
}

span.number-count {
  font-size         : 13px;
  color             : #030303;
  /* padding-right: 50px; */
  font-family       : Arial, Helvetica, sans-serif;
}

.height-0 {
      transform: translateY(100%);
}

.hide-loader {
  display           : none;
}